/* Fonts */
:root {
  --font-default: "Almarai", sans-serif;
  --font-primary: "Archivo Black", sans-serif;
}

/* Colors */
:root {
  --color-green: #2de410;
  --color-yellow: #f4ec65;
  --color-grey: #bcbcbc;
  --color-light: #ffffff;
  --color-dark: #000000;
}

/* Smooth scroll behavior */
:root {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: var(--color-green) var(--color-light);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-default);
  color: var(--color-dark);
  background-color: #f6f6f6;
}

a {
  color: var(--color-dark);
  text-decoration: none;
}

a:hover {
  color: #2de410;
  text-decoration: none;
}

#type1 {
  color: var(--color-green);
}

section {
  padding: 60px 0;
  overflow: hidden;
}

.sections-bg {
  background-color: #f6f6f6;
}

.section-header {
  text-align: center;
  padding-bottom: 20px;
}

.section-header h2 {
  font-size: 32px;
  font-weight: 500;
  padding-bottom: 20px;
  position: relative;
  font-family: var(--font-primary);
}

.section-header p {
  margin-bottom: 0;
  color: #6f6f6f;
}

/*whatsapp top button*/
.whatsapp {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 9999;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
}


#social-icon {
 width: 40px;
  height: 40px;
  border-radius: 100%;
}

/*Preloader*/
#preloader {
  position: fixed;
  inset: 0;
  z-index: 999999;
  overflow: hidden;
  background: var(--color-dark);
  transition: all 0.6s ease-out;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid var(--color-green);
  border-color: var(--color-green) transparent var(--color-yellow) transparent;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1.5s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Disable aos animation delay on mobile devices*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/* Header*/
.topbar {
  background: var(--color-yellow);
  height: 40px;
  font-size: 14px;
  transition: all 0.5s;
  padding: 0;
}

.topbar .contact-info i {
  font-size: 15px;
  color: var(--color-dark);
  line-height: 0;
}

.topbar .contact-info i a,
.topbar .contact-info i span {
  padding-left: 5px;
  color: var(--color-dark);
  font-weight: 500;
  transition: 0.3s;
}

@media (max-width: 575px) {
  .topbar .contact-info i a,
  .topbar .contact-info i span {
    font-size: 13px;
  }
}

.topbar .contact-info i a {
  line-height: 0;
  transition: 0.3s;
}

.topbar .contact-info i a:hover {
  text-decoration: underline;
}

.topbar .social-links a {
  font-size: 16px;
  line-height: 0;
  transition: 0.3s;
  margin-left: 20px;
  color: var(--color-dark);
  border: 1px solid var(--color-dark);
  border-radius: 50px;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.topbar .social-links a:hover {
  color: var(--color-green);
}

.header {
  transition: all 0.5s;
  z-index: 997;
  height: 80px;
  background-color: var(--color-dark);
}

.header.sticked {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 70px;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
}

.header .logo img {
  max-height: 60px;
  margin-right: 6px;
}

.sticked-header-offset {
  margin-top: 70px;
}

section {
  scroll-margin-top: 70px;
}

/*Desktop Navigation*/
@media (min-width: 1280px) {
  .navbar {
    padding: 0;
  }

  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  .navbar li {
    position: relative;
  }

  .navbar > ul > li {
    white-space: nowrap;
    padding: 10px 0 10px 28px;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3px;
    font-family: var(--font-default);
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
  }

  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

  .navbar > ul > li > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: var(--color-green);
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
  }

  .navbar a:hover:before,
  .navbar li:hover > a:before,
  .navbar .active:before {
    visibility: visible;
    width: 100%;
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover > a {
    color: #fff;
  }
}

@media (min-width: 1280px) {
  .mobile-nav-show,
  .mobile-nav-hide {
    display: none;
  }
}

/*Mobile Navigation*/
@media (max-width: 1279px) {
  .navbar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    max-width: 400px;
    bottom: 0;
    transition: 0.3s;
    z-index: 9997;
  }

  .navbar ul {
    position: absolute;
    inset: 0;
    padding: 50px 0 10px 0;
    margin: 0;
    background: var(--color-dark);
    overflow-y: auto;
    transition: 0.3s;
    z-index: 9998;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    font-family: var(--font-default);
    font-size: 15px;
    font-weight: 500;
    color: var(--color-grey);
    white-space: nowrap;
    transition: 0.3s;
  }

  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover > a {
    color: #fff;
  }

  .navbar .getstarted,
  .navbar .getstarted:focus {
    background: var(--color-green);
    padding: 8px 20px;
    border-radius: 4px;
    margin: 15px;
    color: #fff;
  }

  .mobile-nav-show {
    color: var(--color-green);
    font-size: 28px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
    z-index: 9999;
    margin-right: 10px;
  }

  .mobile-nav-hide {
    color: #fff;
    font-size: 32px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 9999;
  }

  .mobile-nav-active {
    overflow: hidden;
  }

  .mobile-nav-active .navbar {
    right: 0;
  }

  .mobile-nav-active .navbar:before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(7, 126, 1, 0.8);
    z-index: 9996;
  }
}

/* Our courses Section*/
.courses {
  padding: 60px 0;
}

.courses .courses-item {
  padding: 20px;
  background: #fff;
  height: 100%;
  border-radius: 6px;
}
.courses .courses-item img {
  width: 100%;
  border-radius: 6px;
  transition: 0.3s;
}

.courses .courses-item:hover img {
  transform: translateY(-10px);
}


.courses .courses-item h3 {
  color: var(--color-default);
  font-weight: 700;
  margin: 0 0 20px 0;
  padding-bottom:20px;
  padding-top: 20px;
  font-size: 22px;
  position: relative;
  display: inline-block;
  border-bottom: 4px solid #eeeeee;
  transition: 0.3s;
}

.courses .courses-item p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
  text-align: justify;
}

.courses .courses-item:hover h3 {
  border-color: var(--color-green);
}

/*stars Section*/
.stars .member {
  text-align: center;
  position: relative;
  overflow: hidden;
}

.stars .member .member-info {
  position: absolute;
  padding: 15px 0;
  inset: auto 0 -44px 0;
  background: rgba(0, 0, 0, 0.6);
  transition: 0.4s;
}

.stars .member .member-info-content h4 {
  color: var(--color-grey);
  font-weight: 700;
  margin-bottom: 4px;
  font-size: 16px;
}

.stars .member .member-info-content h4 a {
  color: var(--color-grey);
}

.stars .member .member-info-content h4 a:hover {
  color: var(--color-grey);
}

.stars .member .member-info-content span {
  font-style: italic;
  display: block;
  font-size: 13px;
  color: var(--color-grey);
}

.stars .member .social {
  text-align: center;
  padding-top: 10px;
}

.stars .member .social a {
  transition: color 0.3s;
  color: var(--color-grey);
  margin: 0 4px;
  display: inline-block;
}

.stars .member .social a:hover {
  color: var(--color-green);
}

.stars .member .social i {
  font-size: 18px;
  margin: 0 2px;
}

.stars .member:hover .member-info {
  bottom: 0;
}

/*Gallery Section*/
.gallery .gallery-item {
  overflow: hidden;
  border-right: 3px solid var(--color-light);
  border-bottom: 3px solid var(--color-light);
  border-radius: 10px;
  position: relative;
}

.gallery .gallery-item img {
  transition: all ease-in-out 0.4s;
}

.gallery .gallery-item:hover img {
  transform: scale(1.1);
}

/* Testimonials Section*/
.testimonials .testimonial-wrap {
  padding-left: 10px;
}

.testimonials .testimonial-item {
  box-sizing: content-box;
  padding: 30px;
  margin: 30px 10px;
  box-shadow: 0px 0 15px rgba(0, 0, 0, 0.1);
  position: relative;
  background: var(--color-light);
  border-radius: 10px;
}

.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50px;
  margin-right: 15px;
}

.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: var(--color-dark);
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: var(--color-grey);
  margin: 0;
}

.testimonials .testimonial-item .stars {
  margin: 10px 0;
}

.testimonials .testimonial-item .stars i {
  color: #ffc107;
  margin: 0 1px;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
  color: var(--color-green);
  font-size: 26px;
  line-height: 0;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
  transform: scale(-1, -1);
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 15px auto 15px auto;
}

.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: var(--color-grey);
  opacity: 1;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--color-dark);
}

@media (max-width: 767px) {
  .testimonials .testimonial-wrap {
    padding-left: 0;
  }

  .testimonials .testimonial-item {
    padding: 30px;
    margin: 15px;
  }

  .testimonials .testimonial-item .testimonial-img {
    position: static;
    left: auto;
  }
}

/*Contact Section*/
.contact .info-container {
  background-color: var(--color-green);
  height: 100%;
  padding: 20px;
  border-radius: 10px 0 0 10px;
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
}

.contact .info-item {
  width: 100%;
  background-color: var(--color-dark);
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  color: var(--color-light);
}

.contact .info-item:last-child {
  margin-bottom: 0;
}

.contact .info-item i {
  font-size: 20px;
  color: var(--color-light);
  float: left;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  margin-right: 15px;
}

.contact .info-item h4 {
  padding: 0;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}

.contact .info-item p {
  padding: 0;
  margin-bottom: 0;
  font-size: 14px;
}

.contact .info-item:hover i {
  background: var(--color-light);
  color: var(--color-dark);
}

.contact .php-email-form {
  width: 100%;
  height: 100%;
  background: var(--color-green);
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 0 10px 10px 0;
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input[type="text"],
.contact .php-email-form input[type="tel"],
.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form input[type="text"]:focus,
.contact .php-email-form input[type="tel"]:focus,
.contact .php-email-form textarea:focus {
  border-color: var(--color-dark);
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type="submit"] {
  background: var(--color-dark);
  border: 1px solid var(--color-dark);
  padding: 14px 45px;
  color: var(--color-light);
  transition: 0.4s;
  border-radius: 50px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: var(--color-green);
  color: var(--color-dark);
}

/* Hero Section*/
.hero {
  width: 100%;
  position: relative;
  background: var(--color-dark);
  padding: 30px 0 0 0;
}

@media (min-width: 1365px) {
  .hero {
    background-attachment: fixed;
  }
}

.hero h2 {
  font-size: 45px;
  font-weight: 500;
  margin-bottom: 20px;
  color: var(--color-grey);
  font-family: var(--font-primary);
}

.hero p {
  color: var(--color-grey);
  font-weight: 500;
}

.hero .typings {
  color: var(--color-grey);
}

.hero .btn-get-started {
  font-family: var(--font-default);
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 50px;
  transition: 0.3s;
  color: var(--color-dark);
  background: var(--color-yellow);
}

.hero .btn-get-started:hover {
  background-color: var(--color-green);
}

.hero .btn-watch-video {
  font-size: 16px;
  transition: 0.5s;
  margin-left: 25px;
  color: var(--color-grey);
  font-weight: 600;
}

.hero .btn-watch-video i {
  font-size: 32px;
  transition: 0.3s;
  line-height: 0;
  margin-right: 8px;
  color: var(--color-grey);
}

.hero .btn-watch-video:hover i {
  color: var(--color-green);
}

#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

@media (max-width: 640px) {
  .hero h2 {
    font-size: 30px;
  }

  .hero .btn-get-started,
  .hero .btn-watch-video {
    font-size: 14px;
  }
}

/* Footer*/
.footer {
  font-size: 15px;
  background-color: var(--color-dark);
  padding: 50px 0px 20px 0px;
  color: var(--color-grey);
}

.footer .footer-info .logo {
  line-height: 0;
  margin-bottom: 25px;
}

.footer .footer-info .logo img {
  max-height: 60px;
  margin-right: 6px;
}

.footer .footer-info p {
  font-size: 15px;
  font-family: var(--font-default);
}

.footer .social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--color-grey);
  font-size: 16px;
  color: var(--color-grey);
  margin-right: 10px;
  transition: 0.3s;
}

.footer .social-links a:hover {
  color: var(--color-green);
  border-color: var(--color-yellow);
}

.footer h4 {
  font-size: 18px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}

.footer .footer-links {
  margin-bottom: 30px;
}

.footer .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.footer .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-links ul a {
  color: var(--color-grey);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

.footer .footer-links ul a:hover {
  color: var(--color-green);
  text-decoration: underline;
}

.footer .footer-contact p {
  line-height: 26px;
}

.footer .copyright {
  text-align: center;
}

.footer .credits {
  padding-top: 6px;
  text-align: center;
  font-size: 14px;
}

.footer .credits a {
  color: var(--color-green);
}

.footer .credits a:hover {
  color: var(--color-grey);
}
